<div class="login-form">
  <div class="paj-logo">
    <img src="../../../../assets/images/logo-website-paj-header.svg" alt="logo" height="60"/>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item border="none">
      <ion-input
        label="Email"
        label-placement="floating"
        placeholder="Enter email"
        formControlName="email"
        [ngClass]="{
          invalid:
            loginForm.controls['email'].invalid &&
            (loginForm.controls['email'].dirty ||
              loginForm.controls['email'].touched)
        }"
      ></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="
        loginForm.controls['email'].invalid &&
        (loginForm.controls['email'].dirty ||
          loginForm.controls['email'].touched)
      "
    >
      <p *ngIf="loginForm.controls['email'].errors?.['required']">
        Email is required.
      </p>
      <p *ngIf="loginForm.controls['email'].errors?.['email']">
        Enter a valid email address.
      </p>
    </ion-text>
  <br>
    <ion-item border="none">
      <ion-input
        type="password"
        formControlName="password"
        label="Password"
        label-placement="floating"
        placeholder="Enter password"
        [ngClass]="{
          invalid:
            loginForm.controls['password'].invalid &&
            (loginForm.controls['password'].dirty ||
              loginForm.controls['password'].touched)
        }"
      >
      </ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="
        loginForm.controls['password'].invalid &&
        (loginForm.controls['password'].dirty ||
          loginForm.controls['password'].touched)
      "
    >
      <p *ngIf="loginForm.controls['password'].errors?.['required']">
        Password is required.
      </p>
    </ion-text>

    <ion-button class="ion-margin-top ion-text-center" expand="block" type="submit" [disabled]="loginForm.invalid"
      >Login</ion-button
    >
  </form>
</div>
