<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header color="dark">
      <ion-toolbar class="ion-padding-vertical">
        <ion-title
          ><img src="../assets/images/logo-website-paj-header.svg" height="52"
        /></ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item
          *ngFor="let device of deviceList; let i = index"
          (click)="goToDevice(device.id)"
        >
          <ion-avatar slot="start">
            <img src="{{ device.customImgUrl }}" alt="{{ device.name }}" />
          </ion-avatar>

          <ion-label>{{ device.name }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label class="ion-padding-start">Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
