    ion-content {
        span {
            color: var(--ion-color-medium);
        }
        ion-card {
            background-image: url('../../assets/images/fitness.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            border-radius: 19px;
            height: 34vh;
            ion-card-header {
                color: var(--ion-color-light);
            }
            ion-card-content {
                color: var(--ion-color-light);
                background-color: #7c8898;
                opacity: 0.9;
                // margin-top: 58px;
                bottom: 0;
                position: absolute;
                width: 100%;
                padding: 0;
            }
        }
        h3 {
            line-height: 0;
            font-weight: bold;
        }
        ion-thumbnail img {
            border-radius: 8px;
        }
        .notification {
            ion-icon {
                font-size: 22px;
            }
            ion-badge {
                position: absolute;
                top: -14px;
                right: 1px;
                background: transparent;
                font-size: 30px;
                border-radius: 100%;
                color: var(--ion-color-danger);
            }
        }
        .swiper-container {
            margin: 22px auto;
            .swiper-slide img {
                object-fit: cover;
                border-radius: 20px;
                height: 150px;
            }
            ion-slide {
                width: 172px !important;
                margin: 0 15px;
            }
        }
        .star-val {
            background: #4b5460;
            text-align: center;
            border-radius: 7px;
            line-height: 0.5;
            padding: 6px 17px 0 0;
            height: 33px;
        }
        /* Centered text */
.centered {
        position: absolute;
        top: 119px;
        left: 13%;
        transform: translate(-12%, -15%);
        font-size: 14px;
        color: #fff;
        background-color: #7c8898;
        opacity: 0.9;
        width: 98%;
        bottom: -5px;
        border-radius: 12px;
        line-height: 2;
    
  }
    }